@charset "UTF-8";
.rap-content {
    margin: auto;
    width: 100%;
}

h3 {
    /* text-align: center; */
}

.in-content {
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btm {
    margin-top: 2px;
    position: relative;
}

.flex-mn {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

.flex-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fl {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.fr, .flex {
    display: flex;
    align-items: center;
}

.text-mid {
    font-size: 13px;
    white-space: nowrap;
}

.text-sm {
    font-size: 11px;
    white-space: nowrap;
}

.clear {  /*float된 요소 뒤의 요소 다음 줄로 보내기*/
    clear:both;
}

.write .rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.write .row {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.write .row span {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: 8%;
    white-space: nowrap;
}

.write .row input {
    width: 85%;
    height: 25px;
    padding: 3px;
    border: 1px solid var(--ck-color-base-border);
    border-radius: 2px;
}

.write .ck.ck-editor__editable_inline { /* CKEditor */
    min-height: 300px;
}

.write-bottom {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.write button {
    margin: 0 2px;
}


.list table {
    border-collapse: collapse;
    width: 100%;
}

@media (max-width: 533px) {
    .list th.seq, .list th.name,
    .list td.seq, .list td.name {
        display: none;
    }
}

.list th {
    font-size: 13px;
    font-weight: 200;
    white-space: nowrap;
    background-color: rgba(221, 221, 221, 0.205);;
}

.list tr {
    border-bottom: 0.5px solid rgb(221, 221, 221);
}

.list tbody tr:hover {
    background-color: rgba(221, 221, 221, 0.133);
}

.list .select {
    background-color: rgba(221, 221, 221, 0.133);
}

.list td, th {
    padding: 6px 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 21px;
}

.list-row span {
    font-size: 11px;
    color: #777;
}

.list .subject {
    text-align: left;
    width: 100%;
}

.list .subject span {
    font-size: 13px;
    word-break: break-all;
    color: #222;
}

.list .subject a:hover {
    text-decoration: grey solid 0.5px underline;
}

.list .subject .replyCnt {
    font-size: 13px;
    font-weight: 700;
    color: rgb(37 146 225);
}

.list .name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}

.list-search-frm {
    display: flex;
}

.list-search input,
.list-search select {
    padding: 0 5px;
    border: 1px solid grey;
}

.list-search input {
    height: 27px;
}

.list-search select {
    height: 29px;
}

.list-search a {
    margin: 0;
    border-radius: 0px;
    padding: 0 13px;
    line-height: 29px;
}

.detail {
    margin-bottom: 50px;
}

.detail .detail-header h2 {
    font-size: 20px;
    padding: 0 5px 5px 5px;
}

.detail .header-btm {
    padding: 2px 5px 7px 5px;
}

.detail .content {
    padding: 0 5px 50px 5px;
}

.detail li {
    padding: 15px 5px;
}

.detail .reply-content {
    font-size: 13px;
}

.detail .reply {
    padding: 0 5px;
}

.detail .reply textarea {
    resize: none;
    width: 100%;
    padding: 5px;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 2px;
    box-sizing: border-box;
}

.detail .reply-mine {
    background-color: rgb(37 146 225 / 6%);
}

.detail .btn-submit {
    text-align: center;
    width: 100%;
    border: 0;
    border-radius: 2px;
    padding: 9px 3px;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
    background-color: rgba(221, 221, 221, 0.205);
}

/* --- pageBtn --- */
.pagination {
    display: flex;
    justify-content: center;
}

.page-btn {
    float: left;
    margin: 0;
}

.page-btn a {
    min-width: 25px;
    min-height: 25px;
    line-height: 23px;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    margin: 0 2px;
    border: 1px solid #ccc;
}

.active a {
    color: rgb(37 146 225);
    color: rgb(37 146 225);
    border: 1px solid rgb(37 146 225);
    font-weight: bold;
}