@charset "UTF-8";
.rap-content {
    margin: auto;
    width: 100%;
}

h3 {
    /* text-align: center; */
}

.in-content {
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btm {
    margin-top: 2px;
    position: relative;
}

.flex-mn {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
}

.flex-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fl {
    margin-right: auto;
    display: flex;
}

.fr {
    display: flex;
}

.text-mid {
    font-size: 15px;
    white-space: nowrap;
}

.text-sm {
    font-size: 13px;
    white-space: nowrap;
}

.text-grey {
    color: rgb(199, 194, 194);
}

.clear {  /*float된 요소 뒤의 요소 다음 줄로 보내기*/
    clear:both;
}

.write .rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.write .row {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.write .row span {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: 8%;
    white-space: nowrap;
}

.write .row input {
    width: 60%;
    height: 25px;
    padding: 3px;
    border: 1px solid var(--ck-color-base-border);
    border-radius: 2px;
}

.write .ck.ck-editor__editable_inline { /* CKEditor */
    min-height: 300px;
}

.write-bottom {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.write button {
    margin: 0 2px;
}


.list table {
    border-collapse: collapse;
    width: 100%;
}

.list th {
    font-size: 13px;
    white-space: nowrap;
    background-color: rgba(221, 221, 221, 0.205);;
}

.list tr {
    border-bottom: 0.5px solid rgb(221, 221, 221);
}

.list tr:hover {
    background-color: rgba(221, 221, 221, 0.103);
}

.list td, th {
    padding: 6px 10px;
    text-align: center;
}

.list td {
    font-size: 15px;
}

.list .subject {
    text-align: left;
}

.list .subject a:hover {
    text-decoration: grey solid 0.5px underline;
}

.list-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 16px;
}

.list-search-frm {
    display: flex;
}

.list-search input,
.list-search select {
    padding: 0 5px;
    border: 1px solid grey;
}

.list-search input {
    height: 27px;
}

.list-search select {
    height: 29px;
}

.list-search a {
    margin: 0;
    border-radius: 0px;
    padding: 2px 13px;
}

.detail {
    margin-bottom: 50px;
}

.detail .detail-header {
    padding-bottom: 
}

.detail .detail-header h2 {
    font-size: 22px;
}

.detail .header-bottom {
    padding: 2px 5px 10px 5px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid rgb(221, 221, 221);
}

.detail .content {
    padding: 0 5px 50px 5px;
    border-bottom: 0.5px solid rgb(221, 221, 221);
}

/* --- pageBtn --- */
.pagination {
    display: flex;
    justify-content: center;
}

.page-btn {
    float: left;
    margin: 0;
}

.page-btn a {
    min-width: 25px;
    min-height: 25px;
    line-height: 22px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    margin: 0 2px;
    border: 1px solid #ccc;
}

.active a {
    color: rgb(37 146 225);
    color: rgb(37 146 225);
    border: 1px solid rgb(37 146 225);
    font-weight: bold;
}