/* header, footer, 공통 */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,malgun gothic,맑은 고딕,helvetica,apple sd gothic neo,sans-serif;
}

p {
    font-size: 13px;
}

#body-wrap {
    min-height: 100%;
    position: relative;
}

#content-wrap {
    padding-bottom: 80px;
}

#body {
    max-width: 1080px;
    margin: auto;
    padding: 20px 10px 80px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.header {
    height: 40px;
    padding: 10px 15px;
    background-color: white;
    border-bottom: 0.5px solid rgba(135, 135, 135, 0.597);
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.nav__menu a, .footer p {
    color: black;
    font-weight: 500;
    
}

.nav__menu a {
    display: none;
}

.header__wrap {
    width: 1080px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__wrap a {
    letter-spacing: -1px;
    font-size: 14px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    height: 23px;
    margin-right: 1px;
}

.header__logo h1 {
    font: bold 25px 'arial';
    font-weight: 800;
    letter-spacing: -1px;
    color: rgb(50 49 49 / 92%);
    padding-right: 0 5px 0 0;
    white-space: nowrap;
}

.header__logo p {
    font-size: 12px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav__menu {
    margin-left: 50px;
}

.nav__menu a {
    font-weight: 500;
}

.nav__menu a:hover { /*마우스가 올라갔을 때*/
    color: rgba(0,144,249,.5);
    border-radius: 6px;
}

.nav__right a {
    font-size: 13px;
    font-weight: 600;
    padding: 8px 17px;
    border-radius: 20px;
    margin: 0;
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.font-grey {
    color: #00000096;
}

.font-blue {
    color: rgb(37 146 225);
}

.font-bold {
    font-weight: bold;
}

.mt-2 {
    margin-top: 2px;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.ml-03 {
    margin-left: 3px;
}

.ml-05 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-05 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.border-btm {
    border-bottom: 0.5px solid rgb(221, 221, 221);
}

.border-btm2 {
    border-bottom: 2px solid rgb(221, 221, 221);
}

.btn-square {
    font-size: 13px;
    font-weight: 600;
    line-height: 32px;
    white-space: nowrap;
    padding: 0px 10px;
    margin: 0 2px;
    border-radius: 6px;
}

.btn-grey {
    color: rgb(50, 49, 49);
    border: 1.5px solid rgba(135, 135, 135, 0.597);
}

.btn-white {
    color: rgb(19 127 206);
    border: 1.5px solid rgba(0,144,249,.5);
}

.btn-white:hover, .btn-grey:hover {
    background-color: rgba(212, 212, 212, 0.295);
}

.btn-blue {
    color: white;
    background-color: rgb(37 146 225);
}

.btn-blue:hover {
    background-color: rgba(19, 128, 206, 0.582);
}

.btn-blue-disabled {
    color: white;
    background-color: rgba(19, 128, 206, 0.582);
    cursor: default;
}

.pointer {
    cursor: pointer;
}

.footer {
    height: 80px;
    background-color: white;
    border-top: 0.5px solid rgba(135, 135, 135, 0.597);
    padding: 20px 15px;
    display: flex;
    align-items: center;
}

.footer__wrap {
    width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__left {
    margin-right: 20px;
}
