<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSql">
	
	<select id="getList" resultType="com.board.domain.BoardDTO">
		SELECT
			B.seq, B.subject, B.content, B.reg_date, B.readcount, B.mem_seq, B.replycount, M.mem_name name
		FROM board B
		JOIN member M
		ON B.mem_seq = M.mem_seq
		WHERE
		<include refid="criteria"></include>
			1=1
		ORDER BY B.seq desc
		LIMIT #{amount} OFFSET #{offset}
	</select>
	
	<insert id="write" parameterType="boardDTO"> <!-- config.xml에서 alias 설정 -->
		insert into board(seq, subject, content, reg_date, readcount, mem_seq)
		values(0, #{subject}, #{content}, now(), 0, #{mem_seq})
	</insert>
	
	<update id="updateReadCount" parameterType="Integer">
		update board 
		set readCount = readCount+1 
		where seq = #{seq}
	</update>
	
	
	<select id="detail" parameterType="java.lang.Integer" resultType="boardDTO">
		select 
			b.seq, b.subject, b.content, b.reg_date, b.readcount, b.mem_seq, b.replycount, m.mem_name name 
		from 
			board b, member m
		where 
			b.mem_seq=m.mem_seq and b.seq = #{seq}
	</select>
	
	<update id="update" parameterType="boardDTO">
		update board
		set
			subject = #{subject},
			content = #{content}
		where
			seq = #{seq}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete
		from board
		where 
			seq = #{seq}
	</delete>
	
	<select id="getTotal" resultType="Integer">
		select count(*) from board where
		<include refid="criteria"></include>
		1=1
	</select>
	
	<update id="updateReplyCount" parameterType="Integer">
		update board
		set replycount = replyCount + 1
		where seq = #{board_seq}
	</update>
	
	<!-- sql코드는 <include>로 사용할 수 있다 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") and ">
			<choose>
				<when test="type == 'S'.toString()">
					subject like CONCAT('%', #{keyword}, '%')
				</when>
				<when test="type == 'C'.toString()">
					content like CONCAT('%', #{keyword}, '%') 						
				</when>				
				<when test="type == 'B'.toString()">
					subject like CONCAT('%', #{keyword}, '%') or content like CONCAT('%', #{keyword}, '%')
				</when>
			</choose>		
		</trim>
	</sql>
</mapper>