<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSql">
	
	<select id="getList" parameterType="java.util.Map" resultType="com.board.domain.BoardDTO">
		select * 
		from (
			select /*+ INDEX_DESC (board board_pk)*/ 
				rownum rn, seq, subject, content, name, reg_date, readcount 
			from 
				board		
		)
		where rn between #{startNum} and #{endNum}
	</select>
	
	<insert id="write" parameterType="boardDTO"> <!-- config.xml에서 alias 설정 -->
		insert into board
		values(seq_board.nextval, #{subject}, #{content}, #{name}, sysdate, 0)
	</insert>
	
	<update id="updateReadCount" parameterType="Integer">
		update board 
		set readCount = readCount+1 
		where seq = #{seq}
	</update>
	
	
	<select id="detail" parameterType="java.lang.Integer" resultType="boardDTO">
		select * 
		from board
		where seq = #{seq}
	</select>
	
	<update id="update" parameterType="boardDTO">
		update board
		set
			subject = #{subject},
			name = #{name},
			content = #{content}
		where
			seq = #{seq}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete
		from board
		where 
			seq = #{seq}
	</delete>
	
	<select id="getTotal" resultType="Integer">
		select count(*) from board
	</select>
</mapper>