<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberSql">
	<select id="checkAvailability" parameterType="java.util.Map" resultType="Integer">
		select count(*) from member where ${field} = #{value}
	</select>
	
	<insert id="regist" parameterType="memberDTO">
		insert into member(mem_seq, mem_id, mem_pwd, mem_email, mem_name, mem_type, reg_date, chg_date, auth)
		values(0, #{mem_id}, #{mem_pwd}, #{mem_email}, #{mem_name}, 'normal', now(), now(), 'USER')
	</insert>
	
	<select id="selectById" resultType="memberDTO">
		select * from member where mem_id = #{id}
	</select>
</mapper>