<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="replySql">	
	<select id="list" parameterType="Integer" resultType="replyDTO">
		select
		    r.rep_seq, r.rep_content, r.board_seq, r.mem_seq, r.reg_date, r.chg_date, r.deleted,
		    (select 
		        mem_name 
		    from member m
		    where m.mem_seq = r.mem_seq) mem_name
		from reply r
		where board_seq = #{boardSeq}
	</select>
	
	<insert id="regist" parameterType="replyDTO">
		insert into reply(rep_seq, rep_content, board_seq, mem_seq, reg_date, chg_date)
		values(seq_reply.nextval, #{rep_content}, #{board_seq}, #{mem_seq}, sysdate, sysdate)
	</insert>
	
	<select id="selectBySeq" parameterType="Integer" resultType="replyDTO">
		select * from reply where rep_seq = #{rep_seq}
	</select>
	
	<update id="update" parameterType="replyDTO">
		update reply
		set
			rep_content = #{rep_content},
			chg_date = sysdate,
			deleted = #{deleted}
		where rep_seq = #{rep_seq}
	</update>
</mapper>